@layer components {
  .dialog {
    &-content {
      @apply fixed z-50 w-full gap-4 border border-white/10 bg-background p-6 shadow-lg rounded-tl-3xl rounded-tr-3xl h-fit;
      @apply lg:rounded-lg lg:max-w-lg;

      bottom: 0;
      left: 0;

      @media (screen(lg)) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &-title {
      @apply mb-3;
    }
  }

  [data-placeholder] {
    // if no children
    &:empty::before {
      @apply absolute inset-0 flex items-center justify-start;
      @apply text-gray-400 font-normal;
      @apply pointer-events-none;

      content: attr(data-placeholder);
    }
  }
}
