@import "./themes/xanathar.scss";
@import "./loaders.scss";

.page {
  --a4-width: 210mm;
  --a4-height: 297mm;

  --page-width: 8.27in;
  --page-height: 11.7in;

  --background-color: #eee5ce;
  --background-image: url(/api/images/background/default.jpg);
  --background-image-odd: var(--background-image);

  --font-size: 0.34cm;

  --column-count: 2;
  --column-fill: auto;
  --column-gap: 0.9cm;

  --page-padding: 1.4cm 1.9cm 1.7cm;

  --page-font-family: "Bookinsanity";
  --header-font-family: "Mr Eaves Small Caps";
  --header-font-h5: "Scaly Sans Caps";
  --first-letter-font-family: "Solbera Imitation";

  --header-text-color: #58180d;
  --header-underline-color: #c0ad6a;
  --color-accent: #e0e5c1;

  --first-letter-deg: -45deg;
  --first-letter-colors: #322814, #998250, #322814;
  --first-letter-background-image: linear-gradient(
    var(--first-letter-deg),
    var(--first-letter-colors)
  );

  --note-border-image: url(/api/images/borders/note-border.png) 12 stretch;
  --descriptive-border-image: url(/api/images/borders/descriptive-border.png) 12
    stretch;

  &.letter {
    --page-width: 8.5in;
    --page-height: 11in;
  }

  &.legal {
    --page-width: 8.5in;
    --page-height: 14in;
  }

  &.tabloid {
    --page-width: 11in;
    --page-height: 17in;
  }

  &.ledger {
    --page-width: 17in;
    --page-height: 11in;
  }

  &.a0 {
    --page-width: 33.1in;
    --page-height: 46.8in;
  }

  &.a1 {
    --page-width: 23.4in;
    --page-height: 33.1in;
  }

  &.a2 {
    --page-width: 16.54in;
    --page-height: 23.4in;
  }

  &.a3 {
    --page-width: 11.7in;
    --page-height: 16.54in;
  }

  &.a4 {
    --page-width: 8.27in;
    --page-height: 11.7in;
  }

  &.a5 {
    --page-width: 5.83in;
    --page-height: 8.27in;

    --column-count: 1;
  }

  &.a6 {
    --page-width: 4.13in;
    --page-height: 5.83in;

    --column-count: 1;
  }

  &.miniature {
    zoom: 0.25 !important;
  }

  width: var(--page-width);
  height: var(--page-height);

  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  contain: size;
  padding: var(--page-padding);

  background-color: var(--background-color);
  background-image: var(--background-image);

  columns: 2;
  column-fill: auto;

  font-size: var(--font-size);
  font-family: var(--page-font-family);
  text-rendering: optimizeLegibility;

  counter-increment: page-numbers;

  &:nth-child(odd) {
    background-image: var(--background-image-odd);
  }

  &:has(.--front-cover) {
    columns: 1;
    text-align: center;
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }

  p + * {
    margin-top: 0.325cm;
  }

  .note + * {
    margin-top: 0.45cm;
  }

  p + p,
  ul + p,
  ol + p {
    text-indent: 1em;
  }

  p + p {
    margin-top: 0;
  }

  p {
    line-height: 1.25em;
    display: block;
    overflow-wrap: break-word;
  }

  blockquote,
  .quote {
    break-inside: avoid;
    display: inline-block;
    width: 100%;
    font-style: italic;
    line-height: 0.54cm;

    &.left {
      text-align: left;
    }

    &.right {
      text-align: right;
    }

    &.center {
      text-align: center;
    }

    .attribution {
      margin-top: 0;
      display: block;
      font-style: normal;
      line-height: 0.54cm;
      text-align: right;
      text-indent: initial;
    }
  }

  h1 + p::first-letter {
    float: left;
    padding-bottom: 2px;
    padding-left: 40px;
    margin-top: -0.3cm;
    margin-bottom: -20px;
    margin-left: -40px;
    font-family: var(--first-letter-font-family);
    font-size: 3cm;
    line-height: 1em;
    color: rgba(0, 0, 0, 0);
    background-image: var(--first-letter-background-image);
    -webkit-background-clip: text;
    background-clip: text;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--header-font-family);
    color: var(--header-text-color);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }

  h1 {
    margin-bottom: 0.18cm;
    column-span: all;
    font-size: 0.89cm;
    line-height: 1em;
    -webkit-column-span: all;
    -moz-column-span: all;
  }

  h2 {
    font-size: 0.75cm;
    line-height: 0.988em;
  }

  h3 {
    font-size: 0.575cm;
    line-height: 0.995em;
    border-bottom: 2px solid var(--header-underline-color);
  }

  * + h3 {
    margin-top: 0.155cm;
  }

  h4 {
    font-size: 0.458cm;
    line-height: 0.971em;
  }

  * + h4 {
    margin-top: 0.235cm;
  }

  h5 {
    font-family: var(--header-font-h5);
    font-size: 0.423cm;
    line-height: 0.951em;
  }

  p + dl {
    margin-top: 0.17cm;
  }

  dl {
    line-height: 1.25em;
  }

  p + * {
    margin-top: 0.325cm;
  }

  dl {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 0.17cm;
  }

  dt {
    display: inline;
    margin-right: 5px;
    margin-left: -1em;
    line-height: 1.25em;
    text-indent: -1.3em;
    padding-left: 1.3em;
  }

  dd {
    display: inline;
    margin-left: 0;
    text-indent: 0;
  }

  .break-column {
    break-after: always;
    -webkit-column-break-after: always;
    margin-top: 0;
    visibility: hidden;
  }

  .water-color-wrapper {
    --mask-width: 100%;
    --mask-height: 100%;
    --mask-position: 0 0;

    --image-position: 0 0;

    .water-color-container {
      position: absolute;
      pointer-events: none;

      .water-color-mask {
        mask-image: var(--water-color-image);
        mask-size: var(--mask-width) var(--mask-height);
        mask-position: var(--mask-position);

        img {
          width: var(--mask-width);
          height: var(--mask-height);
          object-fit: cover;
          object-position: var(--image-position);
        }
      }
    }

    &.edge {
      &.top {
        --mask-height: 500px;

        padding-bottom: calc(var(--mask-height) * 0.85);

        .water-color-container {
          top: 0;
          left: 0;
          right: 0;
        }
      }

      &.bottom {
        --mask-height: 500px;

        .water-color-container {
          bottom: 0;
          left: 0;
          right: 0;
        }
      }

      &.left {
        --mask-width: 250px;
        --mask-height: var(--page-height);

        .water-color-container {
          top: 0;
          left: 0;
          bottom: 0;
        }
      }

      &.right {
        --mask-width: 250px;
        --mask-height: var(--page-height);

        .water-color-container {
          top: 0;
          right: 0;
          bottom: 0;
        }
      }
    }
  }

  .wide {
    margin-bottom: 0.325cm;
    column-span: all;
    display: block;
  }

  &:has(.front-cover) {
    columns: 1;
    padding: 0;
    text-align: center;
  }
}

/*
| FRONT COVER
|
|
|
*/
.front-cover {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: var(--cover-image);
  background-size: cover;
  padding: var(--page-padding);

  h1 {
    margin-top: 1.2cm;
    margin-bottom: 0;
    font-family: "Nodesto Caps Condensed";
    font-size: 2.245cm;
    font-weight: normal;
    line-height: 1.9cm;
    color: white;
    text-shadow: unset;
    text-transform: uppercase;
    -webkit-text-stroke: 0.2cm black;
    paint-order: stroke;
  }

  h2 {
    font-family: "Nodesto Caps Condensed";
    font-size: 0.85cm;
    font-weight: normal;
    color: white;
    letter-spacing: 0.1cm;
    -webkit-text-stroke: 0.14cm black;
    paint-order: stroke;
  }

  hr {
    position: relative;
    display: block;
    width: 12cm;
    height: 0.5cm;
    margin: auto;
    visibility: visible;
    background-image: url(/api/images/dividers/horizontal-rule.svg);
    filter: drop-shadow(0 0 3px black);
    background-size: 100% 100%;
    border: none;
  }

  .banner {
    position: absolute;
    bottom: 4.2cm;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10.5cm;
    height: 1.7cm;
    padding-top: 0.1cm;
    padding-left: 1cm;
    font-family: "Nodesto Caps Condensed";
    font-size: 1cm;
    font-weight: normal;
    color: white;
    text-align: left;
    letter-spacing: 0.014cm;
    background-image: url(/api/images/cover/page-banner.svg);
    filter: drop-shadow(2px 2px 2px black);
  }

  .footnote {
    position: absolute;
    right: 0;
    bottom: 1.3cm;
    left: 0;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    font-family: "Nodesto Caps Condensed";
    font-size: 0.496cm;
    color: white;
    text-align: center;
    -webkit-text-stroke: 0.1cm black;
    paint-order: stroke;
  }
}

/*
| NOTE
|
|
|
*/
.page .note {
  margin-top: 9px;
  display: inline-block;
  width: 100%;
  break-inside: avoid;
  font-family: var(--header-font-h5);
  font-size: 0.318cm;
  line-height: 1.2em;
  padding: 0.13cm 0.16cm;
  background-color: var(--color-accent);
  border-style: solid;
  border-width: 1px;
  border-image: var(--note-border-image);
  border-image-width: 11px;
  border-image-outset: 9px 0px;
  box-shadow: 1px 4px 14px #888888;

  h5 {
    font-size: 0.375cm;
  }

  h1 + p::first-letter {
    font-family: var(--page-font-family);
    float: unset;
    padding-bottom: unset;
    padding-left: unset;
    margin-top: unset;
    margin-bottom: unset;
    margin-left: unset;
    font-size: unset;
    line-height: unset;
    color: unset;
    background-image: unset;
    -webkit-background-clip: unset;
    background-clip: unset;
  }

  p {
    display: block;
    padding-bottom: 0px;
  }

  :last-child {
    margin-bottom: 0;
  }
}

/*
| DESCRIPTIVE
|
|
|
*/
.page .descriptive {
  font-family: var(--header-font-h5);
  font-size: 0.318cm;
  line-height: 1.2em;
  padding: 0.1em;
  background-color: #faf7ea;
  border-style: solid;
  border-width: 7px;
  border-image: var(--descriptive-border-image);
  border-image-outset: 4px;
  box-shadow: 0 0 6px #faf7ea;

  h1 + p::first-letter {
    font-family: var(--page-font-family);
  }
}

/*
| SPELL
|
|
|
*/
.page .dnd-spell {
  margin-bottom: 0.235cm;

  &-name {
  }

  &-type {
    font-style: italic;
  }

  &-attributes {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 0.17cm;

    &-attr {
      line-height: 1.25em;
      text-indent: -1.3em; /* Pull the first line back */
      padding-left: 1.3em; /* Offset the negative indent */
    }
  }

  &-description {
    display: block;
    line-height: 1.25em;
    margin: 0;
    padding: 0;
    margin-top: 0.17cm;
    white-space: pre-line;
    font-family: var(--page-font-family);
  }
}
